<!DOCTYPE html>
<html>
    <head>
        <title>Visualization of CO2 measurements</title>
    </head>
    <body>
        <h1 align="center">Visualization of CO2 measurements</h1>

        {% if error %}
        <p style="text-align:center;">
        {% for message in error_message %}
            {{ message }}<br>
        {% endfor %}
        </p>
        {% else %}
        <p style="text-align:center;">
            <img src="data:image/png;base64,{{ image }}" alt="CO2 data" align="center">
        </p>
        {% endif %}

        <form action="handle_input" method="POST">
            <table align="center">
                <tr>
                    <td>From year:</td>
                    <td><input type=number step=1 min=1750 max=2050 name="tmin" value={{ tmin }}></td><br>
                </tr>

                <tr>
                    <td>To year:</td>
                    <td><input type=number step=1 min=1750 max=2050 name="tmax" value={{ tmax }}></td><br>
                </tr>

                <tr>
                    <td>Minimum emission of carbon (in Gkg):</td>
                    <td><input type=number step=1 min=0 max=10000 name="ymin" value={{ ymin }}></td><br>
                </tr>

                <tr>
                    <td>Maximum emission of carbon (in Gkg):</td>
                    <td><input type=number step=1 min=0 max=10000 name="ymax" value={{ ymax }}></td><br>
                </tr>

                <tr>
                    <td><input type="submit" value="Plot"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
